@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background: #f2f2f2;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.title_edit_page {
  color: #191919;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  padding: 1.5rem;
}

.container_content_edit_page {
  display: flex;
  justify-content: center;
  padding: 4rem;
}
.container_content_edit_page .container_checkbox_form_edit_page .tags_lied_edit_page {
  display: flex;
  align-items: center;
}
.container_content_edit_page .container_checkbox_form_edit_page .tags_lied_edit_page .lied {
  margin: 0;
}
.container_content_edit_page .container_checkbox_form_edit_page .tags_lied_edit_page .tags_container_edit_page {
  display: flex;
  align-items: center;
}
.container_content_edit_page .container_checkbox_form_edit_page .tags_lied_edit_page .tags_container_edit_page input[type=checkbox]:first-child {
  margin: 0 0.5rem 0 0.5rem;
}
.container_content_edit_page .container_checkbox_form_edit_page .tags_lied_edit_page .tags_container_edit_page label {
  margin: 0;
}
.container_content_edit_page .container_checkbox_form_edit_page .tags_not_lied_edit_page {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.container_content_edit_page .container_checkbox_form_edit_page .tags_not_lied_edit_page .not_lied {
  margin: 0;
}
.container_content_edit_page .container_checkbox_form_edit_page .tags_not_lied_edit_page .tags_container_not_lied_edit_page {
  display: flex;
  align-items: center;
}
.container_content_edit_page .container_checkbox_form_edit_page .tags_not_lied_edit_page .tags_container_not_lied_edit_page input[type=checkbox]:first-child {
  margin: 0 0.5rem 0 0.5rem;
}
.container_content_edit_page .container_checkbox_form_edit_page .tags_not_lied_edit_page .tags_container_not_lied_edit_page label {
  margin: 0;
}
.container_content_edit_page .btn_save_edit_page {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container_content_edit_page .btn_save_edit_page button {
  width: 150px;
  height: 40px;
  font-weight: 700;
  background: #f2f2f2;
  border: 1px solid #191919;
  border-radius: 6px;
  font-size: 1rem;
  color: #191919;
}
.container_content_edit_page .btn_save_edit_page button:hover {
  transition: all 0.2s ease-in-out;
  background: white;
  color: #191919;
  transform: scale(1.1);
  border: 1px solid #191919;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-items: center;
}
main section.bannière {
  width: 95%;
  height: 500px;
  border-radius: 10px;
  background-image: url("https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80");
  background-position: center center;
}
main section.listOfHikes {
  width: 100vw;
  padding: 20px;
}
main section.listOfHikes div.titleAndTags {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
main section.listOfHikes div.titleAndTags select {
  width: 100px;
  height: 20px;
}
main section.listOfHikes div.hikes {
  padding: 20px;
}
main section.listOfHikes div.hikes ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
main section.listOfHikes div.hikes ul li {
  border: 1px black solid;
  border-radius: 10px;
  list-style: none;
  padding: 20px;
}
main section.listOfHikes div.hikes ul li a {
  text-decoration: none;
  color: black;
}
main section.listOfHikes div.hikes ul li a button {
  border: lightskyblue;
  border-radius: 20px;
  background: lightskyblue;
  padding: 0.7em 1.5em;
  color: white;
  text-align: center;
  margin: 5px;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px 20px 50px;
}
header nav ul {
  display: flex;
  align-items: center;
}
header nav ul p {
  padding-right: 20px;
}
header nav ul li {
  list-style: none;
  padding-right: 10px;
}
header nav ul li.blueButton {
  border: lightskyblue;
  border-radius: 20px;
  background: lightskyblue;
  padding: 0.7em 1.5em;
  color: white;
  text-align: center;
}
header nav ul a {
  text-decoration: none;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  color: #8e8e8e;
  font-weight: 700;
  width: 600px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.3);
}
form textarea {
  border: none;
  border-bottom: 2px solid #8e8e8e;
  border-radius: 5px;
  color: #474747;
  padding: 0.5rem;
  line-height: 1.4rem;
}
form textarea:focus {
  outline: none;
}
form input {
  height: 45px;
  font-size: 1rem;
  outline: none;
  border: none;
  border-bottom: 2px solid #8e8e8e;
  border-radius: 5px;
  padding: 1rem;
  color: #474747;
  margin-bottom: 1.5rem;
}
form label {
  margin-bottom: 0.2rem;
}
form .container_checkbox_form_edit_page {
  padding: 2rem 0 0.8rem 0;
}

/*# sourceMappingURL=style.css.map */
